* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.cvContainer {
  width: 1000px;
}

.name .input,
.name .output {
  font-size: 70px;
  text-align: center;
}

.adress .input,
.adress .output {
  width: 700px;
  height: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.telEmailContainer {
  display: flex;
  justify-content: center;
}

.tel .input,
.tel .output {
  margin: 5px;
  font-size: 1.1rem;
}

.email .input,
.email .output {
  margin: 5px;
  font-size: 1.1rem;
}

.summaryContainer {
  margin-top: 50px;
  display: flex;
}

.summaryContainer h3 {
  display: flex;
  align-items: start;
  font-size: 1.4rem;
  width:120px;
}

.summary {
  display: flex;

  flex: 1;
  margin-left: 25px;
  padding-top: 6.5px;
}

.summary .input,
.summary .output {
  margin: 0;
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
}

.educationContainer {
  margin-top: 50px;
  display: flex;
}
.educationContainer h3 {
  align-items: start;
  text-align: start;
  font-size: 1.4rem;
  width:120px;
  flex: 0 1 auto;
}

.educationContainer2 {
  flex: 1;
}

.addEducation {
  height: 50px;
}

.education {
  padding-top: 3.5px;
  display: grid;
  grid-template-areas:
    "institutionlocation date"
    "degree button";
  margin-left: 25px;
  margin-bottom: 50px;
}

.education .institutionLocation {
  grid-area: institutionlocation;
  display: flex;
  font-weight: bold;
}

.education .institution {
  margin-right: 1px;
}

.education .location {
  margin-left: 7px;
}

.education .degree input {
  margin-top: 2px;
}
.comma {
  height: 1.5rem;
  font-size: 1.2rem;
}

.location .output {
  padding-right: 200px;
}

.education .dateContainer {
  grid-area: date;
  justify-self: end;

}

.education .dateContainer input {

  height: 1.5rem;
  font-size: 1.2rem;

}
.education .dateContainer p {

  height: 1.5rem;
  font-size: 1.2rem;

}

.education .degree {
  grid-area: degree;
  justify-self: start;
  font-style: italic;
}

.education > button {
  grid-area: button;
  margin-top: 10px;
  width: 200px;
  background-color: red;
  color: white;
  justify-self: end;
}
.education .input,
.education .output {
  height: 1.5rem;
  font-size: 1.3rem;
}

.addEducation.invalid {

 background-color: red;
 color: white;
 border: 2px solid white
 outline: 2px solid red;
}


.experienceContainer {
  margin-top: 50px;
  display: flex;
}
.experienceContainer h3 {
  align-items: start;
  font-size: 1.4rem;
  width:120px;
  flex: 0 1 auto;
}

.experienceContainer2 {
  flex: 1;
  
}

.experience {
  padding-top: 3.5px;
  display: grid;
  grid-template-areas:
    "role date"
    "companyLocation button"
    "task task"
    "responsibility responsibility";
  margin-left: 25px;
  margin-bottom: 50px;
}

.experienceInput,
.experienceP  {
  height: 1.5rem;
  font-size: 1.2rem;
}



.role {
  grid-area: role;
  justify-self: start;
}

.role .experienceP {

  font-size: 1.3rem;
  font-weight: bold;
  padding-right: 250px;

}


.companyLocation {
  grid-area: companyLocation;
  display: flex;
 
}
.companyLocation input {
  margin-top: 2px;
}


.companyLocation .experienceP {

  font-style: italic;
}

.experience .location {
  margin-left: 7px;
}

.comma {
  height: 1.5rem;
  font-size: 1.2rem;
}


.experience .dateContainer {
  grid-area: date;
  justify-self: end;

}

.experience .dateContainer input {

  height: 1.5rem;
  font-size: 1.2rem;

}
.experience .dateContainer p {

  height: 1.5rem;
  font-size: 1.2rem;

}


.experience  .deleteButton {
  grid-area: button;
  margin-top: 10px;
  width: 200px;
  background-color: red;
  color: white;
  justify-self: end;
}

.experience .addTask {
  grid-area: responsibility;
  justify-self: center;
  width: 200px;
  margin-right: 130px;
}

.experience .taskContainer {

  grid-area: task;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experience .task {
  display: flex;
  justify-content: space-between;

}

.addExperience.invalid {

  background-color: red;
  color: white;
  border: 2px solid white
  outline: 2px solid red;
 }


.submit {

  margin-top: 50px;
}

input:invalid {

  border: 1px solid red;
}